* {
  -moz-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;

}

.cf {
  zoom: 1; }

.cf:after,
.cf:before {
  content: ' ';
  display: table; }

.cf:after {
  clear: both; }

a:link,
a:visited {
  
  text-decoration: none;
}

/*
box-shadow: 0px 0px 20px 8px #eaebf0;
*/

a:hover,
a:active {
  outline: 0; }

a:focus {
  outline: thin dotted; 
}
h1, h2, h3, h4, h5, h6 {
  font-size: 120%; 
}

p {
  font-size: 70%;
}

#comentário {

  font-size: 100%;

}

#title {
    font-size: 40px;
    color: darkorange;
}

img {
  border-style: none;
  vertical-align: bottom; }

fieldset {
  border-style: none; }

html, body {
  height: 100%; }

body {
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  background-color: #f8f8f8;
  
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }



#no-script{background-color:#212328;color:#80807e;display:none;left:0;height:130px;position:fixed;top:0;width:100%;z-index:10000}
#no-script div{font-size:14px;font-weight:300;line-height:1em;padding:60px;text-align:left;width:100%;}
#no-script a{color:#fff;text-decoration:underline;}
#no-script a:active,#no-script a:hover{color:#80807e;text-decoration:none;}
.no-js #no-script{display:block;}
.no-js body{margin-top:75px;}
#container{min-height:100%;position:relative;}
section#content{padding-bottom:194px;}
section#content .strong{color:#212328;}
section#content header{padding: 0 5px 60px 60px;}
section#content #pfd{padding:60px 0}
section#content #pfd img {
  height:28px;
  width:140px
}

section#content #preamble,section#content article{}

section#content #preamble h1,section#content article h1 {
  color:#e88218;
  font-weight: bold;
  padding-bottom:1em;
}

section#content #preamble h2,section#content article h2 {
  color:#ff8e01;
  padding-bottom:1em; 
  font-weight: bold;
}
  
section#content #preamble h3,section#content article h3 {
  color:#212328;
}

section#content #preamble p,section#content article p {
  color:#3A86BB;
  font-size: 16px;
  padding-bottom:1em;
}

section#content #preamble p.space-after,section#content article p.space-after{padding-bottom:50px}

section#content #preamble .em,section#content article .em {
  color:#d3f8ff;
  padding-bottom:1em;
}

section#content #preamble a,section#content article a {
  text-decoration:none;
   cursor: pointer;
}

section#content #preamble a:hover,section#content article a:hover {
  border-bottom-color:#80807e;
  color:#0f64bf;
}

section#content #preamble.home h1 {color:#d3f8ff} 

section#content #our-work{zoom:1}

section#content #our-work:after,section#content #our-work:before{
  content:' ';
  display:table;
}

section#content #our-work:after{clear:both}
section#content #our-work{margin-bottom:0}section#content #our-work ul{list-style:none}

section#content #our-work ul li {
  display:block;
  float:left;
  width:500px;
  position:relative;
}

section#content #our-work ul li a {text-decoration:none}
section#content #our-work ul li img{width:100%}

section#content #our-work ul li .overlay {
  background-color: rgb(20, 93, 142);
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  opacity:0;
  -webkit-transition:all .4s ease-in-out;
  -moz-transition:all .4s ease-in-out;
  -o-transition:all .4s ease-in-out;
  -ms-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out;
}

section#content #our-work ul li .overlay:hover {
  background-color: rgb(20, 93, 142);
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  opacity:0.7;
  -webkit-transition:all .4s ease-in-out;
  -moz-transition:all .4s ease-in-out;
  -o-transition:all .4s ease-in-out;
  -ms-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out;
}

section#content #our-work ul li .overlay summary {
  bottom:30px;
  left:60px;
  padding-right:30px;
  position:absolute;
}

section#content #our-work ul li .overlay summary h2 {
  color:#fff;
  padding-bottom:15px;
}

section#content #our-work ul li .overlay summary h3 {
  color:#813815;
  padding-top:12px
}

section#content #our-work ul li .overlay .loves {
  -moz-borderradius:40px;
  -webkit-borderradius:40px;
  background-color:#fff;
  border-radius:40px;
  height:80px;
  position:absolute;
  right:60px;
  text-align:center;
  top:60px;
  width:80px;
}

section#content #our-work ul li .overlay .loves span {
  background:transparent url(../images/pfd-sprites.png) no-repeat right -121px;
  color:#ed7b47;
  font:300 15px/1.4em sans-serif;
  line-height:80px;
  padding-right:25px;
}

section#content #pfd-work {
  position:relative;
  zoom:1;
}

section#content #pfd-work footer{
  bottom:-80px;
  padding:50px 60px 0;
  position:absolute;
  right:0;
}

section#content #pfd-work footer #other-projects {
  float:right;
  list-style:none;
}
section#content #pfd-work footer #other-projects li {
  float:left;
  margin-left:12px;
}

section#content #pfd-work footer #other-projects a {
  background:#f8f8f8 url(../images/pfd-sprites.png) no-repeat;
  display:block;
  height:30px;
  text-indent:-8000px;
  width:34px;
}

section#content #pfd-work footer #other-projects a.previous-work{
  background-position:0 -30px;
}

section#content #pfd-work footer #other-projects a.next-work {
  background-position:0 -60px;
}

section#content #pfd-work:after,
section#content #pfd-work:before {
  content:' ';
  display:table;
}

section#content #pfd-work:after {
  clear:both;
}

section#content #work-bio {
  left:0;
  position:fixed;
  top:0;
  width:55%
}

section#content #work-bio #preamble h1 {
  line-height:1em;
  padding-bottom:0;
}

section#content #work-bio #preamble h2,
section#content #work-bio #preamble p.space-after {
  padding-bottom:50px;
}

section#content #work-bio #links {
  height:80px;
  list-style:none;
  margin:40px 0;
}
        
section#content #work-bio #links li {
          
  float:left;
  margin-right:30px
}

section#content #work-bio #links #ilovethis {

  -moz-borderradius:30px;
  -webkit-borderradius:30px;
  background-color:#fc3e3c;
  border-radius:30px;
  cursor:pointer;
  display:block;
  height:60px;
  text-align:center;
  width:60px;
}
        
section#content #work-bio #links #ilovethis span {
  background:transparent url(../images/pfd-sprites.png) no-repeat right -201px;
  color:#fff;
  line-height:60px;
  padding-right:25px;
}
        
section#content #work-bio #links #ilovethis.unloved,section#content #work-bio #links #ilovethis:hover {
  background:#212328 url(../images/pfd-sprites.png) no-repeat 10px -170px;
}
        
section#content #work-bio #links #ilovethis.unloved span,section#content #work-bio #links #ilovethis:hover span {
  display:none;
}
          
section#content #work-bio #links #ilovethis.loved:hover {
  background-image:none;
}
        
section#content #work-bio #links #ilovethis.loved:hover span {
  display:inline;
}
        
section#content #work-bio #links #home {
  -moz-borderradius:30px;
  -webkit-borderradius:30px;
  background:#3aa0e4 url(../images/pfd-sprites.png) no-repeat 30% -259px;
  border-radius:30px;
  cursor:pointer;
  display:block;
  height:60px;
  text-indent:-8000px;
  width:60px
}

section#content #work-bio #links #home:hover {
  -moz-borderradius:30px;
  -webkit-borderradius:30px;
  background:#0d598c url(../images/pfd-sprites.png) no-repeat 30% -259px;
  border-radius:30px;
  cursor:pointer;
  display:block;
  height:60px;
  text-indent:-8000px;
  width:60px
}
        
section#content #work-visuals{
  float:right;
  width:45%;
  margin-right: 2%;
  margin-top: 100px;
}

section#content #work-visuals ul {
  list-style:none
}

section#content #work-visuals ul li {
  line-height:0;
  margin-bottom:10px
}

section#content #work-visuals ul li img {
  width:100%
}

section#content #preamble a.read-more{
  border-style:none;
  color:#d3f8ff;
  text-decoration:none
}

section#content #preamble a.read-more:hover{
  color:rgb(14, 127, 204)
}
 
/*cabeçalho what we do*/
section #what-we-do header  {
  padding:0 60px
}   

section#content #what-we-do header #preamble{}

section #what-we-do article {
  padding:40px 60px; 
  padding-top: 20px;
} 

section #what-we-do article h2 {
  color:#22bdfd;
}

section#content footer#msf {
  bottom:0;
  left:0;
  position:absolute;
  width:100%
}

footer#msf .wrapper {
  border-top:1px solid #e4e4e4;
  height:73px;
  margin:0 60px
}

footer#msf ul#lets-be-social {
  float:left;
  width:230px;
  list-style:none
}

footer#msf ul#lets-be-social li {
  float:left;
  padding-right:8px
}

footer#msf div#legal{
  float:right;
  font:400 15px/1em Source Sans Pro,sans-serif;
  text-align:right;
  width:300px
}
footer#msf div#legal span {
  padding-right:36px
}

footer#msf li a,footer#msf span {
  line-height:73px
}

footer#msf #legal span {
  line-height:20px;
  margin-top:20px;
  display:block;
}

footer#msf a{
  text-decoration:none
}

footer#msf a:hover {
  color:#80807e
}

nav#toc {
  background-color:#212328;
  height:100%;
  position:fixed;
  right:-240px;
  top:0;
  width:240px
}

nav#toc ul {
  list-style:none;
  padding:60px 0;
}

nav#toc ul li a {
  padding:4px 0 5px;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

nav#toc ul li a:hover {
  
  background-color: #555;
  color: white;
}

nav#toc ul li a {
  text-align: center;
  color:#80807e;
  text-decoration:none
}
nav#toc ul li a.active,nav#toc ul li a:hover {
  color:#fff
}
nav#toc ul li:first-child{border-top:none}

nav#toc a#toc-actuator {
  cursor:pointer;
  display:block;
  height:39px;
  left:-94px;
  position:absolute;
  top:60px;
  width:35px;
  z-index:5000
}

.container_nav {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #d3f8ff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width:1200px) {
  footer#msf .wrapper{margin:0 30px}
  section#content header{padding:0 30px 60px}
  section#content #pfd{padding-top:30px}
  section#content #our-work ul li .overlay summary{left:30px}
  section#content #our-work ul li .overlay .loves{right:30px;top:30px}
  section#content #pfd-work footer{padding:50px 30px 0}
  section#content #what-we-do header{padding:0 30px}
  section#content #what-we-do article{padding:40px 30px
}

section#content #what-we-do #web-design .parallax {
      background:#ededeb url(/images/web-development-med.jpg) no-repeat 50% 0!important;
      height:750px
}section#content #what-we-do #identity article{padding: 40px 30px;}nav#toc ul{padding-top:30px}nav#toc a#toc-actuator{left:-64px;top:30px}}@media screen and (max-width:768px){section#content #work-bio{float:none;position:relative;width:auto}section#content #work-visuals{float:none;width:auto}section#content #pfd-work #links{display:none}section#content #what-we-do section{height:auto!important}section#content #what-we-do section article{padding:60px 30px}section#content #what-we-do #web-design .parallax{background:#ededeb url(/images/web-development-sm.jpg) no-repeat 50% 0!important;
            
  height:460px}section#content #what-we-do #identity{border-bottom:none}section#content #what-we-do #identity article{padding:60px 30px}section#content #pfd-about #example-photographs li,section#content #what-we-do #photography #example-photographs li{width:100%!important}section#content p.em{font:300 15px/1.4em museo-sans,sans-serif!important}}@media screen and (max-width:460px){section#content{padding-bottom:234px}section#content #what-we-do #photography #example-photographs li{min-height:50px}footer#msf .wrapper{padding:20px 0}footer#msf ul#lets-be-social{float:none;width:auto;zoom:1}footer#msf ul#lets-be-social:after,footer#msf ul#lets-be-social:before{content:' ';
            
  display:table}footer#msf ul#lets-be-social:after{clear:both}footer#msf div#legal{float:none;width:auto}footer#msf div#legal span{display:block;padding-left:0;text-align:left}footer#msf li a,footer#msf span{line-height:2em}}

#textarea {

  height: 35%;
  
}

#show_u {

  margin-top: 15px;
  border: 1px #fff;
  background-color: #014c82;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 20px 8px rgb(5, 48, 78);
}

.h2 {

  align-self: center;
  font-weight: bold;
}

.list-buses {

  color: #68ACD6;
  font-weight: bold;
}
 
.comment-box {

  width: 815px;
  padding: 20px;
  margin-bottom: 4px;
  background-color: #acacac;
  border-radius: 4px;
}

#comments {

    padding: 10px;
    padding-left: 10px;
    align-content: center;
}


#form {

    margin: 20px;
    padding: 20px;
    align-items: center;
    align-content: center;

}

#comment_text {

    width: 500px;
    height: 80px;
    padding: 10px;
    padding-left: 10px;

}

#submit {

    align-self: right;
    width: 110px;
    height: 40px; 
    font-size: 14px;
    color: #fff;
    background-color: #015288;
    box-shadow: 0 5px 0 0 #014777;
    border: none;
    padding: 10px;
    display: inline-block;
    position: relative;
    outline: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

#submit:hover {

  color: #80807e;
}


#submit:active {

    box-shadow: 0 1px 0 0 #014777;
    -webkit-transform: translate(0,5px);
    -moz-transform: translate(0,5px);
  	transform: translate(0,5px);
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  padding-bottom: 30px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#search {

  align-items: center;
  width: 70%;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #acacac;
  margin-bottom: 15px;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
}


#button {
  align-self: left;
  width: 100px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  background-color: #55acee;
  box-shadow: 0 5px 0 0 #3C93D5;
  border: none; 
  display: inline-block;
  position: relative;
  outline: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#button:active {
  box-shadow: 0 1px 0 0 #3C93D5;
  -webkit-transform: translate(0,5px);
  -moz-transform: translate(0,5px);
  transform: translate(0,5px);  
}

#button1 {
  align-self: left;
  width: 270px;
  height: 50px;
  font-size: 25px;
  color: #fff;
  background-color: #55acee;
  box-shadow: 0 5px 0 0 #3C93D5;
  border: none;
  display: inline-block;
  position: relative;
  outline: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#button1:active {
  box-shadow: 0 1px 0 0 #3C93D5;
  -webkit-transform: translate(0,5px);
  -moz-transform: translate(0,5px);
  transform: translate(0,5px);  
}

#registo {
  width: 140px;
  font-family: sans-serif;
  font-size: 14px;
}

#hr1 {

  align-self: left;
  align-content: left;
  width: 100%;
  color: #212328;
  margin-right: 30px;
  border: 1px groove;
}

.posts_show {

  overflow-y: auto;
  max-height: 400px;
  width: 100%;
}

#Login {
 color: rgba(0,0,0,.5);
}

#create_p {

  float: right;
  width: 110px;
  height: 40px; 
  font-size: 14px;
  color: #fff;
  background-color: #0d5486;
  box-shadow: 0 5px 0 0 #074371;
  border: none;
  padding: 10px;
  display: inline-block;
  position: relative;
  outline: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

#create_p:hover {
  color: #80807e;
}

#create_p:active {

  box-shadow: 0 1px 0 0 #074371;
  -webkit-transform: translate(0,5px);
  -moz-transform: translate(0,5px);
  transform: translate(0,5px);
}

#create_b {

  float: right;
  width: 150px;
  height: 40px; 
  font-size: 14px;
  color: #fff;
  background-color: #0d5486;
  box-shadow: 0 5px 0 0 #074371;
  border: none;
  padding: 10px;
  display: inline-block;
  position: relative;
  outline: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

#create_b:hover {
  color: #80807e;
}

#create_b:active {

  box-shadow: 0 1px 0 0 #074371;
  -webkit-transform: translate(0,5px);
  -moz-transform: translate(0,5px);
  transform: translate(0,5px);
}